<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.michael.wallpaper"
          android:versionCode="1020"
          android:versionName="1.2">

    <uses-sdk android:minSdkVersion="14"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.SET_WALLPAPER"/>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <application
        android:name=".BelleApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <!--<meta-data-->
            <!--android:name="UMENG_APPKEY"-->
            <!--android:value="531b325356240b08030db8bd"/>-->
        <!--<meta-data-->
            <!--android:name="UMENG_CHANNEL"-->
            <!--android:value="UMENG_CHANNEL_VALUE"/>-->

        <!--<activity-->
            <!--android:name="com.umeng.fb.ConversationActivity"-->
            <!--android:theme="@android:style/Theme.Holo.NoActionBar"/>-->
        <!--<activity-->
            <!--android:name="com.umeng.fb.ContactActivity"-->
            <!--android:theme="@android:style/Theme.Holo.NoActionBar"/>-->

        <activity
            android:name=".activity.SplashActivity"
            android:theme="@android:style/Theme.Holo.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.MainActivity"
            android:theme="@style/Theme_ActionBar_Style"
            android:label="@string/app_name"/>

        <activity
            android:name=".activity.GalleryActivity"
            android:theme="@style/Theme_ActionBar_Style"/>

        <activity
            android:name=".activity.SettingActivity"
            android:theme="@style/Theme_ActionBar_Style"
            android:label="@string/title_setting"/>

        <activity
            android:name="com.google.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"/>

        <!-- youmi used -->
        <activity
            android:name="net.youmi.android.AdBrowser"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <service
            android:name="net.youmi.android.AdService"
            android:exported="false" >
        </service>
        <service
            android:name="net.youmi.android.ExpService"
            android:exported="false" >
        </service>
        <receiver
            android:name="net.youmi.android.AdReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="net.youmi.android.offers.OffersReceiver"
            android:exported="false" >
        </receiver>

        <!-- youmi channel -->
        <!--<meta-data android:name="YOUMI_CHANNEL"-->
                   <!--android:value="这里替换为非负整数的渠道号" >-->
        <!--</meta-data>-->

    </application>
</manifest>
